script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
script(src='/js/app-style-switcher.js')
script(src='/js/waves.js')
script(src='/js/sidebarmenu.js')
script(src='/js/custom.js')
script(src='/libs/chartist/dist/chartist.min.js')
script(src='/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js')
script(src='/js/pages/dashboards/dashboard1.js')